@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Audiowide';
}


@layer utilities {
  .contrib-block {
    opacity: 0;
    transform: translateY(20px);
    animation: slideUpFade 0.6s forwards;
  }
  .react-activity-calendar .contrib-block:nth-child(5n+1) { animation-delay: 0.05s; }
  .react-activity-calendar .contrib-block:nth-child(5n+2) { animation-delay: 0.1s; }
  .react-activity-calendar .contrib-block:nth-child(5n+3) { animation-delay: 0.15s; }
  .react-activity-calendar .contrib-block:nth-child(5n+4) { animation-delay: 0.2s; }
  .react-activity-calendar .contrib-block:nth-child(5n)   { animation-delay: 0.25s; }

  @keyframes slideUpFade {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Optional: Dark container background */
  .dark .react-activity-calendar {
    background-color: transparent;
  }
}

