/* Underline animation on each link */
.hover-link {
    display: inline-block;
  }
  .hover-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: white;
    transition: width 0.25s ease-out;
  }
  .hover-link:hover::after {
    width: 50%; /* small underline */
  }
  